@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


$black: #000000;
$yellow: #FFD600;
$rosa : #D00000;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

.title {
  font-size: 3em;
  color: black;
}

.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
  margin-bottom: 0.5em;
}

.subtitle {
  font-size: 1em;
  color: black;
}

.orders-title {
  font-size: 2em;
  color: black;
}

.page-container {
  padding: 20px;
  background-color: black;
}

.card-content {
  margin: 10px;
}

.control {
  margin: 10px;
}

#orange-header {
  background-color: #fe5000;
  padding: 10px;
  margin-bottom: 15px;
  height: 100px;
}

#sidebar {
  height: 900px;
}

.main-box {
  height: 250px;
  overflow-y:scroll;
  overflow-x:scroll;
  margin: 20px;
}

#input-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}